* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: ´Newsreader´ , sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: darkred;
  padding: 1rem;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  display: block;
}

button {
 border: none;
}

.card {
  background-color: rgb(133, 102, 18);
  border-radius: 1rem;
  overflow: hidden;
  max-width: 1200px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(174, 0, 255);
  padding: 1rem;
}

.brand {
  max-width: 130px;
}

.icon {
  padding: 0.5rem;
  border-radius: 8px;
  background-color: rgb(66, 96, 4);
  box-shadow: 0 2px 2px 0 #D7B12D;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  background-color: rgb(184, 100, 10);
}

.main div:first-child {
  background-color: rgb(229, 255, 0);
}

.main div:last-child {
  background-color: #ffffff;
}


.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(8, 124, 124);
}